# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# If you are using the Django Debug Toolbar
debug_toolbar/toolbar.log

# Local environment settings
*.env
*.local

# Media files
/media/
staticfiles/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# System files
*.swp
*~